# Ignore everything in the root except the "online-university" folder and the "mu-plugins" folder
/*
!/.gitignore
!/wp-content/
/wp-content/*
!/wp-content/themes/
/wp-content/themes/*
!/wp-content/themes/online-university/
!/wp-content/mu-plugins/
!/wp-content/plugins/
/wp-content/plugins/*
!/wp-content/plugins/my-first-unique-plugin/

# Ignore node_modules inside the "online-university" folder
/wp-content/themes/online-university/node_modules/

# Ignore package-lock.json inside the "online-university" folder
/wp-content/themes/online-university/package-lock.json
