# Ignore everything in the root except the "online-university" folder and the "mu-plugins" folder
/*
!/.gitignore
!/wp-content/
/wp-content/*
!/wp-content/themes/
/wp-content/themes/*
!/wp-content/themes/online-university/
!/wp-content/mu-plugins/
